:root {
  --main-col-color: #003058; /* this should be a darker color */
  --second-col-color:#f7f7f9; /* this should be a lighter color */
}

/** color changes to establish branding **/
.main-menu-label, .main-manu-label {color:var(--main-col-color) !important;}
nde-general-search-header {background-image: none !important;background-color: var(--main-col-color);}
 .mat-mdc-unelevated-button:not(:disabled), nde-request-card .mat-mdc-unelevated-button:not(:disabled) {background-color:var(--main-col-color) !important;}
 .main-menu-label .mat-icon, .main-manu-label .mat-icon, .mat-mdc-button:not(:disabled) .mat-icon, .icon-primary-fill.mat-icon svg path {fill: var(--main-col-color) !important ;}
 .mat-mdc-button:not(:disabled), .mat-mdc-button:not(:disabled) svg path, nde-online-availability .mat-icon svg path {color:var(--main-col-color) !important;border-color:var(--main-col-color) !important;}
 .request-card[_ngcontent-ng-c3616819823] .mat-icon svg path {stroke: var(--main-col-color) !important; color:var(--main-col-color) !important; }
nde-top-bar {background: var(--main-col-color) !important ;}
nde-top-bar .mat-mdc-button:not(:disabled).advanced-search-button {color:#fff !important;}
nde-top-bar .mat-mdc-button:not(:disabled) svg path {color: #fff !important; border-color: #fff !important;}
 /* correct a couple elements changed by the above */
.search-dropdown-container-button-text {color:var(--sys-on-background);}  
.advanced-search-button.advanced-search-btn-home-page {color:var(--whiteText) !important;}
.available-at-button.mat-mdc-button:not(:disabled) {color:unset !important;} /* availability statement that shows under physical items */

/* larger logo / header */
nde-logo img {
  height: 50px;
  padding-right: 1rem;
}
.custom-search-bar-container {
  height: auto !important;
}

.top-bar-background-image {
  background: var(--main-col-color);
  background-image: unset !important;
}

.background-overlay {
  display: none;
}

/* hide default label visually */
.custom-search-bar-container h2 {
  position: absolute !important;
  left: -99999px;
}

/* footer */
footer {
  background-color: var(--second-col-color);
  border-top: 2px solid var(--sys-on-secondary-fixed);
  margin-top:40px;
}

footer .main-landing-page {
  margin-block-end: 20px;
}

/* footer .grid-item {margin-bottom:2rem;} */
footer li a:link, footer li a:visited {
  color: var(--sys-on-secondary-fixed);
  text-decoration: none;
}

footer li a:hover, footer li a:focus {
  text-decoration: underline;
}

#subfooter {
  background-color: var(--main-col-color);
  /* padding-left:2rem; */
}

#subfooter a:link, #subfooter a:visited {
  color: #fff;
  text-decoration: none;
}

#subfooter a:hover, #subfooter a:focus {
  text-decoration: underline;
}

#subfooter-libraries {
  gap: 1rem;
}

/* chat widget */
.s-lch-widget-float {
   /* don't conflict with up-to-top arrow or login prompt */
  bottom: 80px !important;
  z-index:500 !important;
}
/* only show problem report button in brief results when hovering on record */
nde-search-results .lr-problem-reporter {opacity:0;}
nde-search-results nde-search-result-item-container:hover .lr-problem-reporter, nde-search-result-item-container:focus .lr-problem-reporter {opacity:1;}
@media (min-width: 768px) {
  
  /* increase footer padding for desktop */
  #footer-container {padding-left: 3rem; padding-right: 3rem;
  }
 /* hide phone number linking styles for desktop */
  a[href^="tel"]:hover, a[href^="tel"]:focus {
    text-decoration: none !important;
    cursor: default;
  }


}