a:link, a:visited {
  text-decoration: none;
}
 a:hover, a:focus {
  text-decoration: underline;
} 
.mat-icon {
  font-size: 14px;
  height: 14px;
  width: 14px;
  vertical-align: center;
  margin:0 0.5rem;
}

.lr-note-area-detailsbottom {
  justify-content: center;
}

.lr-note-area-detailsbottom a {
  text-align: center;
}

.lr-note-area-viewitbottom, .lr-note-area-holdingstop {
  padding-left: 1rem;
}