
    <main class="display-flex flex-column flex-layout-center-center margin-top-huge main-landing-page">
        
        <div id="lr-landing-page-container" class="grid-container" >
            <div class="grid-item">
                <h2 aria-level="2" role="heading" class="welcome-title mat-headline-medium ">Start Your Research Here</h2>
                <div >
                    <p>Access ebooks, scholarly articles, magazines, and newspapers from Los Rios databases; find physical books and DVDs held by the Los Rios Libraries. </p>
                </div>
               
                    <custom-homepage-faq></custom-homepage-faq>
                
                <!-- <a id="myLibraryCard" tabindex="0" aria-label="Go to my library card" role="link">Go to my library card</a> -->
            </div>
            <div  class="grid-item" >
             
                <div class="bordered-item" id="lr-vid-container">
                    
                    <iframe id="lr-onesearch-vid" title="OneSearch in One Minute video from YouTube" src="https://www.youtube-nocookie.com/embed/Gtr7BnLNbi0?cc_load_policy=1&amp;modestbranding=1&amp;rel=0" frameborder="0" allow="accelerometer;encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>
                </div>
            </div>
            <div class="grid-item full-width-item">
                <custom-homepage-collections-widget></custom-homepage-collections-widget>
            </div>
        </div>
       
    </main>