:root {
  --main-col-color: #6C2991; 
  --second-col-color:#017EA4; 
}

/** color changes to establish branding **/
.main-menu-label, .main-manu-label {color:var(--main-col-color) !important;}
nde-general-search-header {background-image: none !important;background-color: var(--main-col-color);}
 .mat-mdc-unelevated-button:not(:disabled), nde-request-card .mat-mdc-unelevated-button:not(:disabled) {background-color:var(--main-col-color) !important;}
 .main-menu-label .mat-icon, .main-manu-label .mat-icon, .mat-mdc-button:not(:disabled) .mat-icon, .icon-primary-fill.mat-icon svg path {fill: var(--main-col-color) !important ;}
 .mat-mdc-button:not(:disabled), .mat-mdc-button:not(:disabled) svg path, nde-online-availability .mat-icon svg path {color:var(--main-col-color) !important;border-color:var(--main-col-color) !important;}
 .request-card[_ngcontent-ng-c3616819823] .mat-icon svg path {stroke: var(--main-col-color) !important; color:var(--main-col-color) !important; }
nde-top-bar {background: var(--main-col-color) !important ;}
nde-top-bar .mat-mdc-button:not(:disabled).advanced-search-button {color:#fff !important;}
nde-top-bar .mat-mdc-button:not(:disabled) svg path {color: #fff !important; border-color: #fff !important;}
 /* correct a couple elements changed by the above */
.search-dropdown-container-button-text {color:var(--sys-on-background);}  
.advanced-search-button.advanced-search-btn-home-page {color:var(--whiteText) !important;}
.available-at-button.mat-mdc-button:not(:disabled) {color:unset !important;} /* availability statement that shows under physical items */

/* larger logo / header */
nde-logo img {
  height: 50px;
  padding-right: 1rem;
}
.custom-search-bar-container {
  height: auto !important;
}

.top-bar-background-image {
  background: var(--main-col-color);
  background-image: unset !important;
}

.background-overlay {
  display: none;
}

/* hide default label visually */
.custom-search-bar-container h2 {
  position: absolute !important;
  left: -99999px;
}

/* enlarge record titles */
nde-record-title .record-title .mat-body-large {
  font-size: 1.4em;
}

.record-title .mat-body-medium {
  font-size: unset;
}

/* better render full-text buttons */
.quicklink-button {
  font-weight: 500 !important;
}

/* Apply background to collection discovery names for contrast */
.collection-discovery-header .content {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 8px;
  border-radius: 4px;
}

/* hide extra links from MARC 856 and NZ GES */
nde-full-display-links .links-container span{
  display: none;  
}
/* hide sign-in prompt above ILL link  */
nde-notification[message^="nui\.request\.signin"]:has(+ nde-request-card[data-qa*="interlibrary loan"]) {display: none;} 
/* hide default ILL link */
nde-request-card[data-qa*="interlibrary loan"] mat-card {display: none;}

/* hide AI research assistant widget */
nde-research-assistant-side-bar {
  display: none;
}

/* remove outline when custom resource type icons show */
.record-thumbnail[src*="assets/images/icon"] {outline:unset !important;}

/* hide periodical coverage info in article results */
nde-view-it-card .availability-text {
  display: none !important;
}

/* but show it in journal search */
#journal-db-layout-container nde-view-it-card .availability-text {
  display: flex !important;
}


/* move Expand my Results and Search in Fulltext filters to bottom of list */
#scrolledContent .scroller-content {
	display:grid;
	}

mat-slide-toggle[data-qa="filters_toggle_expand_my_results"],mat-slide-toggle[data-qa="filters_toggle_search_in_full_text"], mat-slide-toggle[data-qa="filters_toggle_search_in_full_text"] + mat-divider {
	order:9;
	}

/* Hide campus affiliation 
TBD */

/* Hide journal coverage in article results, but show in Journal search results */
nde-view-it-card .availability-text {
	display: none !important;
	}
	
#journal-db-layout-container nde-view-it-card .availability-text {
	display:flex !important;
	}
	
/* increase size of full-text links */
h5.package-name {
  font-size: 1.3rem !important;
}
h5.package-name:focus, h5.package-name:hover {
  text-decoration: underline;
}


/* links in public notes */
.view-it-text-with-icon a:link, .view-it-text-with-icon a:visited {color:var(--sys-primary);}
h5.package-name+mat-icon {
  height: 1.3rem !important;
  width: 1.3rem !important;
}

nde-notification > div { border:2px solid var(--main-col-color); font-size:1.3rem;}
#notifText {font-size:1em; }
nde-login .mat-icon, nde-login .availability-button {color:var(--main-col-color) !important; fill:var(--main-col-color); }
nde-full-display-service-container nde-login .availability-button {color:var(--main-col-color) !important;font-size:1.2rem !important;}
/* library card area */
/* increase contrast - this area fails automated check */
nde-personal-details-view .detail_name {
  color: var(--sys-on-surface) !important;
}




/* only show problem report button in brief results when hovering on record */
nde-search-results .lr-problem-reporter {opacity:0;}
nde-search-results nde-search-result-item-container:hover .lr-problem-reporter, nde-search-result-item-container:focus .lr-problem-reporter {opacity:1;}

/* Modify Journal Search header background 
TBD */

/* footer */
footer {
  background-color: var(--second-col-color);
  border-top: 2px solid var(--sys-on-secondary-fixed);
  margin-top:40px;
}

footer .main-landing-page {
  margin-block-end: 20px;
}

/* footer .grid-item {margin-bottom:2rem;} */
footer li a:link, footer li a:visited {
  color: var(--sys-on-secondary-fixed);
  text-decoration: none;
}

footer li a:hover, footer li a:focus {
  text-decoration: underline;
}

#subfooter {
  background-color: #570019;
  /* padding-left:2rem; */
}

#subfooter a:link, #subfooter a:visited {
  color: #fff;
  text-decoration: none;
}

#subfooter a:hover, #subfooter a:focus {
  text-decoration: underline;
}

#subfooter-libraries {
  gap: 1rem;
}

/* chat widget */
.s-lch-widget-float {
   /* don't conflict with up-to-top arrow or login prompt */
  bottom: 80px !important;
  z-index:500 !important;
}

@media (min-width: 768px) {
  
  /* increase footer padding for desktop */
  #footer-container {padding-left: 3rem; padding-right: 3rem;
  }
.collection-discovery-list .lr-availability-display {margin-left:12rem !important; }
  /* hide phone number linking styles for desktop */
  a[href^="tel"]:hover, a[href^="tel"]:focus {
    text-decoration: none !important;
    cursor: default;
  }



}