@if (browseScope().browse_type) {
<mat-card appearance="outlined" class="margin-top-huge">
    <mat-card-header>
        <mat-card-title>Browse by {{browseScope().browse_type}} <mat-icon>{{browseScope().icon}}</mat-icon></mat-card-title>
        <mat-card-subtitle>To switch between different browse options, select the desired category from the dropdown menu above.</mat-card-subtitle >
    </mat-card-header>
    <mat-card-content>
        @if (browseScope().browse_type === 'Subject') {
            <p>Enter a Library of Congress (LC) subject heading to browse adjacent subject headings of titles held by any of the Los Rios Libraries. Then click a subject heading to view which titles have that LC subject.</p>
            <p>Examples:</p>
            
            <ul>
                @for (subject of this.subjects; track subject.name) {
                    <li>
                        <a [href]="subject.url" 
                           matTooltipPosition="right" 
                           matTooltip="Open {{subject.name}} in Browse Search">
                           {{subject.name}}<mat-icon>chevron_right</mat-icon>
                        </a>
                    </li>
                }
            </ul>
            <p>Results are limited to monographs, meaning books and other standalone titles. Articles are not included.</p>
            <p>The Library of Congress lists current subject headings in <a href="https://www.loc.gov/aba/publications/FreeLCSH/freelcsh.html" target="_blank">freely available PDF files.<mat-icon aria-label="Open in new window">open_in_new</mat-icon></a></p>
            <p><a [href]="subjectFaqUrl" target="_blank">Read more about subject headings in OneSearch.<mat-icon aria-label="Open in new window">open_in_new</mat-icon></a></p>
        }
        @if (browseScope().browse_type === 'Call number') {
            <p>Enter part or all of a Library of Congress (LC) call number to find items across the Los Rios libraries in call-number order.</p>
            <p>Examples:</p>
            <ul>
                @for (callNo of this.callNos; track callNo.class) {
                    <li>
                        <a [href]="callNo.url" 
                           matTooltipPosition="right" 
                           matTooltip="Open {{callNo.class}} in Browse Search">
                           {{callNo.class}} <span >({{callNo.desc}})</span><mat-icon>chevron_right</mat-icon>
                        </a>
                    </li>
                }
            </ul>
            <p>Only physical resources, such as print books and DVDs, are shown as results in call number browse searches.</p>
            <p>Find the letters and titles of the main LC classes in the <a href="https://www.loc.gov/catdir/cpso/lcco/" target="_blank">Library of Congress Classification Outline.<mat-icon aria-label="Open in new window">open_in_new</mat-icon></a></p>
        }
    </mat-card-content>
</mat-card>
}