@if (showCard()) {
    <div>
    <mat-card class="example-card margin-top-medium padding-normal" appearance="outlined">
        <mat-card-header class="margin-bottom-medium">
            <mat-card-title>Paying Library Fees</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>You can pay your library fees online in <a href="https://ps.losrios.edu/student/signon.html" target="_blank">eServices <mat-icon>open_in_new</mat-icon></a> or in-person at the <a href="https://crc.losrios.edu/student-resources/support-services/business-services" target="_blank">Business Services Office <mat-icon>open_in_new</mat-icon></a>.</p>
				<p>For more information, please visit <a href="https://answers.library.losrios.edu/crc/faq/407047" target="_blank">How can I pay my library fees? <mat-icon>open_in_new</mat-icon></a></p>
				<p>Questions about your fees? Please contact the library at <a href="tel:+1-916-691-7266">(916) 691-7266</a>.</p>
        </mat-card-content>
    </mat-card>
</div>
}
