@if (showCard()) {
    <div>
    <mat-card class="example-card margin-top-medium padding-normal" appearance="outlined">
        <mat-card-header class="margin-bottom-medium">
            <mat-card-title>How to Pay Fees</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>See our ARC Library FAQS:</p>
				<ul>
				<li>
					<a href="https://answers.library.losrios.edu/arc/faq/278654" target="_blank">How do I pay my library fines? <mat-icon>open_in_new</mat-icon></a>
					</li>
					<li>
						<a href="https://answers.library.losrios.edu/arc/faq/354618" target="_blank">What happens if I return a book late? <mat-icon>open_in_new</mat-icon></a>
					</li>
					<li>
						<a href="https://answers.library.losrios.edu/arc/faq/354619" target="_blank">What happens if I lose or damage a library item I checked out? <mat-icon>open_in_new</mat-icon></a>
					</li>
				</ul>
				
				<p>If you have any questions, please <a href="https://library.losrios.edu/ask-us/?arc" target="_blank">contact the ARC Library <mat-icon>open_in_new</mat-icon></a>. Please include your name, student ID number, and either a phone number or email address. </p>
        </mat-card-content>
    </mat-card>
</div>
}
