.mat-grid-tile-footer {background:var(--second-col-color) !important; color:var(--sys-primary) !important;}
.mdc-button:hover, .mdc-button-focus, .mdc-button-active {text-decoration: none;}
.mdc-button, .mat-icon {color:  var(--main-col-color) !important; border-color:var(--main-col-color) !important;}
.mat-grid-tile-footer .mat-icon {margin-top:8px;}
 .mat-icon, .mdc-button {transition:all .3s linear;}
 .mat-icon {font-size:16px; }
.mat-grid-tile:hover .mat-grid-tile-footer .mat-icon, .mdc-button:hover .mat-icon, mdc-button:focus .mat-icon {margin-left: 12px !important; font-weight: 500 !important; font-size:18px;  }
.mat-grid-tile {border-bottom:1px solid var(--border);}
img {border-top:1px solid var(--border); height: 160px;}

