@if (collections().length > 0) {
<h2 class="mat-headline-medium">Explore Collections</h2>
<div class="grid-container">
        
@for (collection of collections(); track collection.col_id) { 

    <mat-card (click)="goToCollection(collection)" class="grid-item" matTooltip="{{collection.desc}}" matTooltipPosition ="above" appearance="outlined" tabindex="0" role="link">
        <img mat-card-image [src]="thumbnailBaseURL + collection.col_id" alt="">
        <mat-card-footer>
            <mat-card-title>{{collection.title}}<mat-icon iconPositionEnd>chevron_right</mat-icon></mat-card-title>
        </mat-card-footer>
    </mat-card>
}
</div>
<div class="display-flex flex-layout-end margin-top-medium">
        <a mat-stroked-button [href]="collectionPage + collectionRoot">View all collections 
            <mat-icon iconPositionEnd>chevron_right</mat-icon> 
        </a>
</div>
}