div { padding-left: 1rem;}
.mat-icon {font-size:16px; vertical-align: text-top; color:var(--main-col-color);}
.mat-icon:first-of-type {font-size:24px;}
a {text-decoration: none; color:var(--main-col-color);}
a:hover, a:focus {text-decoration: underline;}